html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('images/references.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: white;
    position: relative;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    pointer-events: none; 
    z-index: 0; 
}
.banner, .about-section {
    position: relative;
    z-index: 1;
}
.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 90px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #80cbc4;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s; 
}
.navbar ul li:hover::after{
    width: 100%;

}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
}
.reference-content {
    position: relative;
    padding: 20px 50px;
    max-width: 600px;
    margin: -550px auto;
    color: white;
    text-align: left;
}

.reference-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.reference-content h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #009688;
}

.reference-content p,
.reference-content li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.reference-content a {
    color: white;
    text-decoration: none;
}

.reference-content a:hover {
    text-decoration: underline;
}

.reference-content ul {
    padding-left: 20px;
}

.reference-content ul li {
    margin-bottom: 15px;
}
